# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Set the tab width and indentation for all files in the project
[*]
indent_style = space
indent_size = 4